<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">


			<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



			<style>
					table.table-fit {
			width: auto !important;
			table-layout: auto !important;
				}
				
						th, td {
		  border-bottom: 1px solid #ddd;
		}
			</style>




    <title> Sistema Recomendador de Archivos </title>
  </head>
  <body>
    
  
   
	
	<div class="container text-center" style="padding-top:5">
		  
		<div  class="container center py-4" > 
		<h1><b>Archivos recomendados (para el tamaño de caché otorgado)</b></h1>
		
		

		
		
		</div>
		
    </div>
	
	
	
		<div class = "container-fluid" >   
			
			
			<table id="data" class="table-fit-sm "> <!--   table-sm -->
				<thead>
				  <tr>
					{% for col in column_names %}
					<th>{{col}}</th>
					{% endfor %}
				</thead>
				<tbody>
				
				  {% for row in data %}
					<tr>
						 
					<td>{{row['filesize']}}</td>
					<td>{{row['timecreated']}}</td>
					<td>{{row['timemodified']}}</td>
					 <td>{{row['filename']}}</td>
					<td>{{row['direccion']}}</td>
					<td>{{ (row['rating']) |round(2)  }}</td>
							 
					</tr>
				   {% endfor %}
				   
				</tbody>
			</table>
	 
	

		</div>
	       
		   
		   
		


	  
	 <div class ="container-fluid py-3 text-center  " >
	       <a href="{{ url_for('main') }}" class ="text"><b>Inicio</b></a>
	 
	 
	 </div>
	
	
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    -->
  </body>
</html>