<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

			<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>







    <title> Sistema Recomendador de archivos</title>
  </head>
  
  <body>
  
    
			<div class="container text-center">
			
				<div class="container bg-secondary">
						<div class="container py-4 text-center"> <h1 class="display-3 text-white "> <b> Sistema Recomendador de archivos</b> </h1> 

				
						</div>

       
				</div>
			
			
				<div class="row" >
						<div class="col-sm style=" padding: "2%">
						
							<h3>Generar recomendaciones</h3>
							<p>Haciendo uso de los archivos actuales</p>
							
							<form method="POST" action="{{ url_for('main') }}"  enctype="multipart/form-data">
										<div class="form-outline">
										<input type="number"  id="typeNumber" min="0" name="form1"  class="form-control"  />
										<label class="form-label" for="typeNumber"><p class="font-weight-light">Ingrese el tamaño de la memoria caché (en MB)</p></label>
										</div>
									 
									   <button class="btn btn-success mt-5" type="submit" id="cargando">Recomendar archivos</button>
									   
							</form>
							
							
							
							
						</div>
						
						<div class="col-sm style=" padding: "2%">
						
						<h3>Adjuntar archivo (.csv)</h3>
							<p>Generar recomendaciones a partir de un archivo cargado</p>
							
							 <form method="POST" action="{{ url_for('main') }}"  enctype="multipart/form-data">
									<div class="form-group ">
									<input type="number"  id="typeNumber" min="0" name="cache"  class="form-control" />
									<label class="form-label" for="typeNumber"><p class="font-weight-light">Ingrese el tamaño de la memoria caché (en MB)</p></label>
									<!--<label for="exampleFormControlFile1">Seleccionar imagen </label> -->
									</p><input type="file" name="form2" class="form-control-file" > <br>
									
										<button class="btn btn-success mt-5" type="submit" id="cargando">Recomendar archivos</button>
									</div>
									
									
								  </form>
							
							
							
							
						</div>
						
						
			
				</div>
				
				 
				
				<div class= "row">
				
							<div class="col-sm ">
								
								<h3>Añadir registros a los archivos actuales (.csv)</h3>
									
									<p style="font-weight-light">(Filtrado + entrenamiento. Esta operación puede tomar algo de tiempo)</p>
									
									 <form method="POST" action="{{ url_for('main') }}"  enctype="multipart/form-data">
											<div class="form-group ">
											
										
											<!--<label for="exampleFormControlFile1">Seleccionar imagen </label> -->
											</p> <input type="file" name="form3" class="form-control-file" > <br>
											
													<br>
												<button class="btn btn-primary" type="submit" id="cargando">Iniciar Entrenamiento</button>
											</div>
											
											
										  </form>
									
									
									
									
						  </div>
					
					
								<div class="col-sm " style="padding: 2%">
								
								<h3>Reentrenar el modelo con datos originales</h3>
								
								<p style="font-weight-light">(Filtrado + entrenamiento. Esta operación puede tomar algo de tiempo)</p>
								
									<form method="POST" action="{{ url_for('main') }}"  enctype="multipart/form-data">
											<div class="form-group ">
											<!--<label for="exampleFormControlFile1">Seleccionar imagen </label> -->
											<br>
											<input class="btn btn-primary" type="submit" name= "form4" value="Iniciar entrenamiento">
											
											</div>
											
					
					
									</form>
							</div>
						
						
						
						
						
						
						
				  </div>
				
				
				
		
		
			</div>
  
    
			
		
			

	
	
	
	
	
				
  </body>
</html>